<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">My Blog</div>
        <div class="card-body text-success">
            <h5 class="card-title">Hi {{username}},</h5>
          <p class="card-text">                
                Welcome to My Blog!
                You have successfully created a My Blog account. 
                
                Please Confirm by "Clicking here" OR Copy and paste this link in your browser "http://goji.com.np/activation/email/tsn2k9gjyvfXZcGJFh7IAuT6ixa30RPVlDYCQK5bpmNWq4EBr1d8wHLzoSOeMU"
                
                Enjoy using My Blog
                Regards
                
                The My Blog Team</p>
        </div>
    </div>

</body>
</html>